<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
    	Options -MultiViews
    	Options -Indexes
    </IfModule>

		RewriteEngine On

		php_flag html_errors Off
	    	php_flag log_error Off

	    	# Prevent Hot-linking (especially for images)
		# Change "- [F]" to "http://www.jollof.com/public/img/stop.gif [R,L]" in your Jollof App (if needed)
		
		RewriteCond %{HTTP_REFERER} !^$
		RewriteCond %{HTTP_REFERER} !^http://(www\.)?(localhost|jollof.com)/.*$ [NC]
		RewriteRule \.(gif|jpg|jpeg|bmp|zip|rar|mp3|flv|swf|xml|php|png|css|pdf)$ - [F]

		# Disallow Dastradly Crawlers And Site-Mirroring Apps

		RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^HT\ ?Track [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^BackWeb [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^Bandit [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^BatchFTP [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^BecomeBot [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^Sponger [NC,OR] 
		RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [NC,OR]
		RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [NC]

		RewriteRule . web.abused [L]

		# Trigger Jollof Routes

		RewriteCond %{REQUEST_URI} !^/documentation/
		RewriteRule !^(.+\.)([a-z]+)(/)?$ public/index.php [E=HTTP_CONTENT_TYPE:%{HTTP:Content-Type},L,QSA]
</IfModule>

# Mime Types for Special Files

AddType text/plain .abused # Jollof Abused file
AddType text/cache-manifest .appcache # Offline-First support
AddType application/manifest+json .json # Manifest for Native Web Apps support
AddType video/ogg .ogv # codec
AddType video/mp4 .mp4 # mp4 codec
AddType video/webm .webm # theora codec

# Mobile Site/App Version Crawling - This helps googlebot when crawling your web site/app on mobile devices
	
<IfModule mod_headers.c> 
		Header append Vary User-Agent
</IfModule> 

# Enable file compression (where possible) - use DEFLATE Compression Scheme

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE appliation/javascript
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE text/html
</IfModule>	  
	
# Enhanced caching for site static assets

<FilesMatch ".(flv|gif|jpg|jpeg|mp3|mp4|avi|ogv|webm|png|ico|swf|js|css|pdf)$">
    Header set Cache-control "max-age=28800"
</FilesMatch>

# The Application Cache manifest file and ML files needs not be cached on the client

<FilesMatch ".(html|xml|appcache)$">
    Header set Cache-control "no-store, no-cache, no-transform"
    Header set Expires "1"
</FilesMatch>
